<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjp.provider.dao.ProviderMapper">

    <insert id="insert" parameterType="com.hjp.provider.entity.UserEntity">
        INSERT INTO `user` (`username`) VALUES (#{userName})
    </insert>

    <select id="queryUser" resultType="com.hjp.provider.entity.UserEntity">
        select username, create_time as createTime from user where username = #{userName}
    </select>
</mapper>